@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Dancing+Script:wght@400;500;700&family=Ephesis&family=Playfair+Display:ital@1&family=Roboto+Condensed:ital,wght@1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #131921;
    height: 80px;
}
.top{
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
}
.logo{
    padding: 10px;
}
.top input{
    padding: 10px 30px 10px 30px;
}
nav{
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    background-color: #232f3e;
    align-items: center;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.main aside{
    margin: 30px;
    width: 30%;
    border-right: 1px solid gray;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: lightseagreen;
    padding: 10px 0px 10px 30px;
    height: 70%;
}
aside h3{
    padding-bottom: 10px;
}
.mobile a{
    display: block; 
    padding-left: 20px;
    padding-bottom: 10px;
    color: black;
    text-decoration: none;
}
.brand , .primes , .delivery , .brands,.new , .item, .price, .deals, .discount, .seller, .ava{
    margin-top: 20px;
}

.main section{
    width: 80%;
    margin-top: 30px;
    
}
.sec1{
    display: flex;
    justify-content: space-evenly;
}
.sec1 a{
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-decoration:underline lightseagreen;
    font-family: 'Cinzel Decorative', serif;
}
.sec2{
    margin-top: 20px;
}
.sec2 img{
    width: 100%;
    height: 400px;
}
.sec3{
    margin: 40px;
    text-align: center;
    border: 1px solid orangered;
    border-radius: 20px;
    position: relative;
    background: linear-gradient(lightseagreen,lightpink);
    padding: 20px;
    font-family: 'Cinzel Decorative', serif;
    font-size: 30px;
}
.sec3::after{
    content: '';
    width: 100%;
    height: 80px;
    background-color: orange;
    border-radius: 25px;
    position:absolute;
    top: 10px;
    left: 0px;
    transform: rotate(-4deg);
    z-index: -1;
}
.sec4{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: grey;
    margin-top: 30px;
}
.sec4 img{
    padding: 10px;
    width: 300px;
    height: 300px;
}
.sec5 img{
    width: 100%;
}
footer{
    margin: 30px;
    background-color: #232F3E;
    display: flex;
    justify-content: space-around;
}
footer h3{
    font-size: 20px;
    color: white;
    font-weight: 300;
    padding-top: 30px;
}
footer a{
    display: block;
    color: grey;
    text-decoration: none;
    padding: 10px 0px 10px 0px;
}



